<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/admin/admin.css">
<!-- header -->
<head th:replace="fragments/header :: headerFragment">
</head>

<!-- body -->
<body class="safari_only_body">
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KW2LQK7V" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>

<div class="safari_only_wrapper">
    <div class="fixed-status"></div>


    <div class="h-full mx-auto">

        <div id="searchcity" class="md:pb-16 xl:pb-24"></div>
        <div class="w-screen pl-8 mb-8 md:pl-0">
            <div class="container relative mx-auto">
                <!-- 여기다 내용 넣기 -->
                <div class="tab">
                    <ul class="tabnav">
                        <li><a href="#tab01">탭1</a></li>
                        <li><a href="#tab02">탭2</a></li>
                    </ul>
                    <div class="tabcontent">
                        <div id="tab01">tab1 content</div>
                        <div id="tab02">tab2 content</div>
                    </div>
                </div><!--tab-->

            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="fragments/footer :: footerFragment"></div>


</body>
</html>
