<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>회원문의내역<관리자></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/admin/memberQNA.css}">
<head th:replace="~{fragments/header :: headerFragment}">
</head>
<body>
<div class="safari_only_wrapper">
    <div class="fixed-status"></div>
    <div class="h-full mx-auto">
        <div id="search" class="md:pb-160 xl:pb-240" style="padding-bottom: 100px !important;"></div>
        <div class="containerWrapped">
            <div class="container2 relative mx-auto">
                <div class="main">
                    <h4 class="memberQNA">회원문의내역</h4>
                </div>
                <div class="contents">
                    <div class="my-1">
                        <form id="memberQNAList" th:action="@{/memberQNAList}" method="post">

                            <div class="group">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>글번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>작성일</th>
                                        <th>답변여부</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr th:each="myQNA : ${myQNA}">
                                        <td th:text="${myQNA.id}"></td>
                                        <td>
                                            <a th:href="@{'/memberQNAView/' + ${myQNA.id}}" class="link">
                                                <span th:text="${myQNA.title}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${myQNA.writer}"></td>
                                        <td th:text="${myQNA.createdAt}"></td>
                                        <td th:text="${myQNA.answer}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script th:src="@{/js/admin/admin.js}"></script>-->
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>


