<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/member/changePassword.css">
</head>
<script src="/js/jquery-3.7.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/member/changePassword.js"></script>
<body>
<div id="wrap">
    <nav class="flex-status">
        <div class="headLogo">
            <div class="logo">
                <a href="/main">
                    <div class="cursor-pointer">
                        <img class="w-20" alt="logo" src="../images/common/OnATrip_Logo.png">
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="contents">
            <h1 class="changePassword">
                비밀번호 변경
            </h1>
                <div class="my-1" id="passwordFormSection" >
                    <form class="form_changePassword" id="changePasswordForm" th:action="@{/findPassword/{code}(code=${code})}" method="POST">
                        <div class="group">
                            <label class="name">새 비밀번호</label>
                            <div class="groupPassword">
                                <input type="password" id="newPassword" class="flex-1 w-full px-2 py-2.5 text-black placeholder-gray-700 border border-gray-600 rounded-md focus:outline-none focus:border-lightScheme-primary undefined"
                                       name="newPassword" placeholder="새 비밀번호" required>
                            </div>
                        </div>
                        <div class="group">
                            <label class="name">새 비밀번호 확인</label>
                            <div class="groupPasswordCheck">
                                <input type="password" id="newPasswordCheck" class="flex-1 w-full px-2 py-2.5 text-black placeholder-gray-700 border border-gray-600 rounded-md focus:outline-none focus:border-lightScheme-primary undefined"
                                       name="newPasswordCheck" placeholder="새 비밀번호 확인" required>
                                <span id="passwordMatch"></span>
                            </div>
                        </div>
                        <div>
                            <button class="button p-2 px-8 ml-2 font-bold text-white rounded-md disabled:opacity-50 disabled:scale-100 disabled:bg-gray-500 bg-lightScheme-confirm" id="submitBtn" type="submit">비밀번호 변경</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

</body>
</html>