<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="css/member/findPassword.css">
</head>
<script src="/js/jquery-3.7.0.js"></script>
<script src="/js/bootstrap.js"></script>
<body>
<div id="wrap">
    <nav class="flex-status">
        <div class="headLogo">
            <div class="logo">
                <a href="/main">
                    <div class="cursor-pointer">
                        <img class="w-20" alt="logo" src="../images/common/OnATrip_Logo.png">
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="contents">
            <h1 class="findPassword">
                비밀번호 찾기
            </h1>
            <div class="my-1">
                <h4 class="text">
                    가입 시 등록하신 이메일로 인증번호를 발송합니다.
                </h4>
                <form>
                    <div class="group">
                        <label class="name">이메일</label>
                        <div class="groupEmail">
                            <input type="email" class="flex-1 w-full px-2 py-2.5 text-black placeholder-gray-700 border border-gray-600 rounded-md focus:outline-none focus:border-lightScheme-primary undefined"
                                   name="memberEmail" placeholder="이메일 주소">
                            <button class="button p-2 px-8 ml-2 font-bold text-white rounded-md disabled:opacity-50 disabled:scale-100 disabled:bg-gray-500 bg-lightScheme-confirm" type="submit">인증</button>
                        </div>
                    </div>
                </form>
            </div>
            <p class="mt-4 text-sm text-center">
                <a class="font-medium hover:underline" href="/login">로그인화면가기</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>