<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>로그인</title>
    <link rel="stylesheet" href="css/member/login.css">
</head>
<script src="/js/jquery-3.7.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/member/login.js"></script>
<body>

<div id="wrap">
    <div class="w-full max-w-md p-8 m-auto bg-white rounded-md md:p-6">
        <div class="flex items-center justify-center w-full" style="
    display: flex;">
            <a href="/main">
            <div class="cursor-pointer contents"><img class="w-40" alt="logo" src="../images/common/OnATrip_Logo.png">
            </div>
            </a>
        </div>
        <div class="mt-7">
            <form class="form_login"  th:action="@{/login}" method="POST">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                <div class="group">
                    <label class="block text-xs text-gray-500 duration-200 group-focus-within:text-lightScheme-primary mb-0.5 undefined">이메일</label>
                    <input type="text" class="flex-1 w-full px-2 py-2.5 text-black placeholder-gray-700 border border-gray-600 rounded-md focus:outline-none focus:border-lightScheme-primary undefined" name="email">
                </div>
                <div class="mt-4">
                    <div class="group">
                        <label class="block text-xs text-gray-500 duration-200 group-focus-within:text-lightScheme-primary mb-0.5 undefined">비밀번호</label>
                        <input type="password" class="flex-1 w-full px-2 py-2.5 text-black placeholder-gray-700 border border-gray-600 rounded-md focus:outline-none focus:border-lightScheme-primary undefined" name="password">
                    </div>
                    <a class="text-xs text-gray-500 hover:underline" href="/findPassword">비밀번호를 잊으셨나요?</a>
                    <div class="mt-8">
                        <button type="submit" id="loginBtn" class="relative w-full px-4 py-2 h-[48px] text-white bg-lightScheme-primary-focus rounded-md">로그인</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="mt-4 text-xs text-center text-gray-500">아직 회원이 아니세요?
            <a class="font-medium text-lightScheme-confirm hover:underline" href="/join">이메일회원가입</a>
        </p>
        <div class="relative m-2 text-center">
            <div class="absolute top-1/2 translate-y-1/2 w-full bg-gray-700 h-[1px]"></div>
            <span class="w-[100px] relative inline-block bg-white text-gray-500">or</span>
        </div>
        <h4 class="text-xs text-center text-gray-500">SNS 간편 로그인</h4>
        <div class="mt-6">
            <div class="flex items-center">
            <button class="flex items-center justify-center w-1/4 p-1 mx-1 text-white" style="margin-left: 50px;">
                <div class="relative w-[48px] h-[48px] onATrip-box-shadow">
                    <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                        <img alt="kakao_login" src="../images/member/kakao1.png" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                    </span>
                </div>
            </button>
            <button class="flex items-center justify-center w-1/4 p-1 mx-1 text-white">
                <div class="relative w-[48px] h-[48px] onATrip-box-shadow">
                    <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                        <img alt="naver_login" src="../images/member/naver1.png" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                    </span>
                </div>
            </button>
            </div>
         </div>
    </div>
</div>

</body>
</html>