@charset "UTF-8";

.main {
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.containerWrapped {
    margin: 0% 15% 10% 15% ;
}

#QNAList {
    margin-bottom: 10%;
}

.question {
     background-color: #128D47;
     border-radius: .375rem;
     color: white;
     width: 80px;
}

.table {
     table-layout: fixed;
     width: 100%;
}

tr {
    text-align: center;
}