<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>회원문의내역</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/myQNA/createQNA.css}">
    <head th:replace="fragments/header :: headerFragment"></head>
</head>
<body>
<div class="safari_only_wrapper">
    <div class="fixed-status"></div>
    <div class="h-full mx-auto">
        <div id="search" class="md:pb-160 xl:pb-240" style="padding-bottom: 100px !important;"></div>
        <div class="containerWrapped">
            <div class="container2 relative mx-auto">
                <div class="main">
                    <h4 class="memberQNA">문의사항</h4>
                    <hr style="margin-top:0px; margin-bottom:0px">
                    <span class="alert" style="padding-left: 3px;">답변등록시 알려드립니다.</span>
                </div>
                <div class="contents">
                    <div class="my-1">
                        <form id="QNADetail" th:action="@{/createQNA}" th:object="${createQNADto}" method="post" enctype="multipart/form-data">
                            <input type="hidden" th:field="*{writer}">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                            <div class="form-group">
                                <select class="form-select" th:field="*{qnaStatus}" aria-label="Default select example">
                                    <option value="">문의 유형 선택</option>
                                    <option value="구매권">구매권</option>
                                    <option value="홈페이지 이용 문의">홈페이지 이용 문의</option>
                                    <option value="기타">기타</option>
                                </select>
                            </div>

                            <div class="mb-3" id="title">
                                <label for="qnaTitle" class="form-label">제목</label>
                                <input type="text" class="form-control" th:field="*{title}" id="qnaTitle" placeholder="문의 제목을 입력해주세요.">
                                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                            </div>
                            <div class="mb-3" id="content">
                                <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                                <textarea class="form-control" th:field="*{content}" id="exampleFormControlTextarea1" rows="5"></textarea>
                                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></span>
                            </div>

                            <div class="input-group">
                                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file">
                                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">파일 업로드</button>
                            </div>

                            <div class="button-group">
                                <button type="submit" id="confirmBtn" class="btn btn-outline-success">등록</button>
                                <button type="button" id="deleteBtn" class="btn btn-outline-success">삭제</button>
                                <button type="button" id="gotoList" class="btn btn-outline-success" onclick="location.href='/myQNAList'">목록</button>
                            </div>
                        </form>
                        <!-- 답변 작성 폼 -->

                        <!--                        <div id="answer">-->
                        <!--                            <div class="form-group">-->
                        <!--                                <label for="answerForm">답변</label>-->
                        <!--                                <textarea class="form-control" th:field="*{answer}" id="answerForm" rows="5"></textarea>-->
                        <!--                            </div>-->
                        <!--&lt;!&ndash;                            <button type="button" class="btn btn-primary" id="create-comment-btn">댓글 작성</button>&ndash;&gt;-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script th:src="@{/js/admin/admin.js}"></script>-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>



