<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>문의내역</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/myQNA/myQNAList.css}">
    <head th:replace="fragments/header :: headerFragment">
</head>
<body>
    <div class="safari_only_wrapper">
        <div class="fixed-status"></div>
        <div class="h-full mx-auto">
            <div id="search" class="md:pb-160 xl:pb-240" style="padding-bottom: 100px !important;"></div>
            <div class="containerWrapped">
                <div class="container2 relative mx-auto">
                    <div class="main">
                        <h4 class="myQNAList">문의내역</h4>
                        <button class="question" onclick="location.href='/createQNA'">문의하기</button>
                    </div>
                        <div class="contents">
                        <div class="my-1">
                            <form id="QNAList" th:action="@{/myQNAList}" method="post">

                                <div class="group">
                                    <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>문의유형</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                        <th>답변상황</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr th:each="myQNA : ${myQNA}">
                                        <td th:text="${myQNA.qnaStatus}"></td>
                                        <td><a th:href="@{'/myQNAView/' + ${myQNA.id}}" th:text="${myQNA.title}" class="text-dark"></a></td>
                                        <td th:text="${myQNA.createdAt}"></td>
                                        <td th:text="${myQNA.answer}"></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </form>

<!--                            페이징처리-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" style="color: black;">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" style="color: black;">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" style="color: black;">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next" style="color: black;">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script th:src="@{/js/admin/admin.js}"></script>-->
    <div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>


