<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

    <footer>
        <!-- T:footer START-->
        <div id="footer">

            <!-- footer -->
            <footer class="relative pt-8 pb-6 bg-gray-800">
                <div class="container px-4 mx-auto">
                    <div class="flex flex-wrap">
                        <div class="flex flex-col-reverse items-start justify-center w-full px-4 lg:w-6/12 md:flex-col">
                            <div><a href="https://www.myro.co.kr/"
                                    class="items-center justify-center hidden py-4 md:flex lg:justify-start"><img
                                    class="w-28" alt="logo" src="/images/common/footer_logo.png"></a>
                            </div>
                            <div class="mb-4 md:mb-0"><h5 class="mt-0 text-xs text-gray-500 md:mt-1">주식회사 온어트립 | 대표
                                김이최한 </h5><h5 class="mt-0 text-xs text-gray-500 md:mt-1">사업자 등록번호 649-88-01082</h5><h5
                                    class="mt-0 text-xs text-gray-500 md:mt-1">서울특별시 강남구 역삼로 217, 4F</h5><h5
                                    class="mt-0 text-xs text-gray-500 md:mt-1 hover:text-lightScheme-confirm"><a
                                    href="mailto:contact@myro.co.kr">contact@onatrip.co.kr </a></h5></div>
                            <div class="flex my-4 lg:my-6"><a
                                    class="flex-shrink-0 block text-xs text-gray-200 hover:text-gray-100"
                                    href="https://www.myro.co.kr/user-agreements">이용약관</a>
                                <div class="px-2 text-xs text-gray-200 lock">|</div>
                                <a class="flex-shrink-0 block text-xs text-gray-200 hover:text-gray-100"
                                   href="https://www.myro.co.kr/user-policy">개인정보처리방침</a>
                                <div class="px-2 text-xs text-gray-200 lock">|</div>
                                <button class="flex-shrink-0 block text-xs text-gray-200 hover:text-gray-100">고객지원
                                </button>
                                <div class="px-2 text-xs text-gray-200 lock">|</div>
                                <a class="flex-shrink-0 block text-xs text-gray-200 hover:text-gray-100"
                                   href="https://www.myro.co.kr/inquiry">1:1 문의</a></div>
                        </div>
                        <div class="w-full pt-2 md:px-4 md:pt-0 lg:w-6/12">
                            <div class="flex flex-wrap">
                                <div class="flex w-full px-2 mb-1 md:mb-0 md:px-4 md:mr-1 md:justify-end">
                                    <button class="flex items-center justify-center w-10 h-10 m-1 font-normal bg-white rounded-full shadow-lg outline-none align-center focus:outline-none"
                                            type="button"><img class="w-4" alt="logo"
                                                               src="/images/main/naver_blog_icon.png">
                                    </button>
                                    <button class="flex items-center justify-center w-10 h-10 m-1 font-normal bg-white rounded-full shadow-lg outline-none align-center focus:outline-none"
                                            type="button"><i class="fab fa-instagram"></i></button>
                                    <button class="flex items-center justify-center w-10 h-10 m-1 font-normal bg-white rounded-full shadow-lg outline-none align-center focus:outline-none"
                                            type="button"><i class="fab fa-facebook-square"></i></button>
                                    <button class="flex items-center justify-center w-10 h-10 m-1 font-normal bg-white rounded-full shadow-lg outline-none align-center focus:outline-none"
                                            type="button"><i class="fab fa-youtube"></i></button>
                                </div>
                            </div>
                            <div class="flex p-2 md:p-4 md:justify-end false">
                                <div class="w-20 m-1 md:w-28">
                                    <button><img src="/images/main/applestore.png" alt="앱스토어" loading="lazy"
                                                 class="w-full"></button>
                                </div>
                                <div class="w-20 m-1 md:w-28">
                                    <button><img src="/images/main/googlestore.png" alt="플레이스토어"
                                                 loading="lazy"
                                                 class="w-full"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-center mt-4 md:justify-between">
                        <div class="w-full px-4 md:w-4/12">
                            <div class="py-1 text-[9px] md:text-xs text-gray-500">Copyright © OnATrip. All Rights Reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- //footer -->

        </div>
        <!-- T:footer END -->
    </footer>
</th:block>
</html>