<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shared Plan List Fragment</title>
</head>
<div th:fragment="SharedPlanListContent">
    <div th:each="plan : ${plans}" class="card-container mt-3">
        <!-- Plan Card -->
        <div class="card d-flex justify-content-center" th:if="${plan.memberCount != 1}" data-planid="${plan.id}">
            <div class="card-horizontal">
                <img th:src="@{${plan.location.image}}" class="card-img-left img-margin" alt="여행 국가 이미지">
                <div class="card-body">
                    <h5 class="card-title">
                        <span th:text="${plan.location.locationType == 'domestic' ? plan.location.city : plan.location.countryName}"></span>
                    </h5>
                    <div>
                        <span th:text="${plan.startDate} + ' - ' + ${plan.endDate}"></span>
                    </div>
                    <div>
                        <i class="bi bi-people-fill"></i>
                        <span th:text="${plan.memberCount}"></span>
                    </div>
                </div>
                <div class="p-2 justify-content-center" style="margin-top: 34px">
                    <button type="button" class="btn btn-primary view-detail" th:data-planid="${plan.id}">자세히</button>
                    <button type="button" class="btn btn-success invite" th:data-planid="${plan.id}">친구초대</button>
                    <button type="button" class="btn btn-secondary mr-2 delete-plan" th:data-planid="${plan.id}">나가기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>