<div class="container flex flex-wrap">
    <div class="p-0 xl:p-4 md:w-1/2 lg:w-1/4">
        <div class="w-full">
            <div class="h-auto overflow-hidden rounded-lg hover:scale-105 duration-200 mr-2 md:m-4 cursor-pointer">
                <div class="pt-2 md:pt-2 md:p-2">
                    <div class="relative w-[120px] h-[120px] md:h-[14rem] xl:h-60 2xl:h-80 md:w-full shadow-md md:shadow-lg rounded-lg">
                        <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                                alt="OSAKA" src="https://cdn.myro.co.kr/prod/image/city/Osaka.jpg" decoding="async"
                                data-nimg="fill" class="object-center rounded-lg "
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"></span>
                        <div class="absolute px-2 py-1 text-white bg-red-600 rounded md:px-3 top-2 -right-1 font-Montserrat">
                            <div class="text-[10px] md:text-xs font-medium">NEW</div>
                        </div>
                    </div>
                </div>
                <div class="relative px-0.5 py-5 md:px-3 md:py-4 w-[130px] md:w-full">
                    <div class="absolute flex items-center leading-none top-2 md:top-2"><span
                            class="text-[9px] font-medium text-red-600">새로운 여행지</span></div>
                    <h1 class="text-sm font-medium truncate md:text-2xl font-Montserrat">OSAKA</h1>
                    <h2 class="mb-2 text-xs font-thin truncate md:text-sm">일본 오사카</h2></div>
            </div>
        </div>
    </div>
</div>