<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<style>
    /*화면 크기 조절*/
    .mb-800 {
        margin-bottom: 50rem;
    }
    .card-horizontal {
        display: flex;
        flex-direction: row;
    }

    .card-img-left {
        width: 150px;
        height: 112px;
        object-fit: cover;
    }

    .img-margin {
        margin: 10px 0px 10px 10px;
    }
</style>
<!--<link href="/css/pay/product.css" rel="stylesheet">-->
<head th:replace="fragments/header :: headerFragment"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Bootstrap JavaScript 파일 포함 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
<script src="/js/plan/myPage.js"></script>

<body>

<div class="safari_only_wrapper">
    <div class="fixed-status"></div>
    <div class="h-full mx-auto">
        <div id="searchcity" class="md:pb-160 xl:pb-240" style="padding-bottom: 100px !important;"></div>
        <div class="w-screen pl-8 mb-800 md:pl-0" style="margin-bottom: 150px !important;">
            <div class="container2 relative mx-auto">
                <!--  여기에 내용 채우기 -->

                <div class="container mt-5">
                    <ul class="nav nav-tabs" id="travelPlanTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="private-tab" data-toggle="tab" href="#private" role="tab" aria-controls="private" aria-selected="true">나의 여정</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="share-tab" data-toggle="tab" href="#share" role="tab" aria-controls="share" aria-selected="false">공유된 여정</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="travelPlanTabsContent">
                        <div class="tab-pane fade show active" id="private" role="tabpanel" aria-labelledby="private-tab">
                            <!-- 내 여행 목록-->
                            <div th:replace="fragments/planList :: planListContent"></div>
                        </div>
                        <div class="tab-pane fade" id="share" role="tabpanel" aria-labelledby="share-tab">
                            <div th:replace="fragments/sharedPlanList :: SharedPlanListContent"></div>

                        </div>
                    </div>
                </div>
            </div><!-- 여기가 custom 마지막 -->

        </div>
    </div>
</div>

<!-- 모달 : 삭제 확인 -->
<div class="modal fade" id="confirmExitModal" tabindex="-1" role="dialog" aria-labelledby="confirmExitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmExitModalLabel">정말 나가시겠습니까?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>이 계획에서 나가시면 더 이상 접근할 수 없습니다. 계속하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-danger" id="confirmExitButton">나가기</button>
            </div>
        </div>
    </div>
</div>

<!-- 모달: 친구 초대 -->
    <div th:insert="fragments/inviteFriendModal :: modal"></div>

<!--  Footer -->
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>
