<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/default_layout">

<style>
    .mb-800 {
        margin-bottom: 50rem;
    }

    .card-horizontal {
        display: flex;
        flex-direction: row;
    }
</style>
<!--<link href="/css/pay/product.css" rel="stylesheet">-->
<head th:replace="fragments/header :: headerFragment"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Bootstrap JavaScript 파일 포함 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="css/plan/myPage.css">
<script src="/js/plan/myPlanList.js"></script>
<script src="/js/plan/myAlert.js"></script>
<script src="/js/member/memberInfo.js"></script>


<body>

<div class="safari_only_wrapper">
    <div class="fixed-status"></div>
    <div class="h-full mx-auto">
        <div id="searchcity" class="md:pb-160 xl:pb-240" style="padding-bottom: 100px !important;"></div>
        <div class="w-screen pl-8 mb-800 md:pl-0" style="margin-bottom: 150px !important;">
            <div class="container2 relative mx-auto">
                <!--  여기에 내용 채우기 -->

                <div class="container mt-5" style="margin-top:50px;">
                    <div class="row">
                        <!-- 사이드바 -->
                        <!--                        <nav class="col-md-3 col-lg-2 d-md-block sticky-sidebar" style="max-width: 140px">-->
                        <!--                            <div class="position-sticky">-->
                        <!--                                <ul class="nav flex-column">-->
                        <!--                                    <li class="nav-item">-->
                        <!--                                        <a class="nav-link active" href="#myPlanList">여행</a>-->
                        <!--                                    </li>-->
                        <!--                                    <li class="nav-item">-->
                        <!--                                        <a class="nav-link" href="#mySubscription">구독권</a>-->
                        <!--                                    </li>-->
                        <!--                                    <li class="nav-item">-->
                        <!--                                        <a class="nav-link" href="#myInfo">정보</a>-->
                        <!--                                    </li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </nav>-->

                        <!-- 메인 콘텐츠 -->
                        <div class="col-12 px-md-4">
                            <!-- 내 여행 목록 섹션 및 내 구독권 섹션 -->
                            <!-- 내 정보 섹션 -->
                            <section id="myInfo">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">사용자 정보</h5>
                                        <hr class="title-underline">
                                        <div class="button-container">
                                            <p class="changePassword" data-toggle="modal" data-target="#changePasswordModal">비밀번호 변경</p>
                                            <p class="withdraw" data-toggle="modal" data-target="#withdrawModal">회원탈퇴</p>
                                        </div>
                                    </div>

                                    <!-- 비밀번호 변경 모달 -->
                                    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="changePasswordModalLabel">비밀번호 변경</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="changePasswordForm">
                                                        <div class="form-group">
                                                            <label for="currentPassword">현재 비밀번호</label>
                                                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newPassword">새 비밀번호</label>
                                                            <input type="password" class="form-control" id="newPassword" placeholder="새 비밀번호" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="confirmPassword">새 비밀번호 확인</label>
                                                            <input type="password" class="form-control" id="confirmPassword" placeholder="새 비밀번호 확인" required>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">변경</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 회원탈퇴 모달 -->
                                    <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="withdrawModalLabel">회원 탈퇴 확인</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>회원탈퇴를 하시겠습니까?</p>
                                                    <form id="withdrawForm">
                                                        <div class="form-group">
                                                            <label for="password">비밀번호 입력:</label>
                                                            <input type="password" class="form-control" id="password" name="password" required>
                                                        </div>
                                                        <div class="text-danger" id="passwordError"></div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                                    <button type="button" class="btn btn-primary" id="confirmWithdraw">확인</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="row">
                                <!-- 내 여행 목록 섹션 -->
                                <section id="myPlanList" class="col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title">여행 목록</h5>
                                                <a href="/myPlanList" class="more-link">더보기</a>
                                            </div>
                                            <hr class="title-underline">
                                            <div class="plan-summary">
                                                <div th:each="plan : ${plans}"
                                                     class="plan-item d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h6 class="plan-destination"
                                                            th:text="${plan.location.locationType == 'domestic' ? plan.location.city : plan.location.countryName}"
                                                        ></h6>
                                                        <p class="plan-dates"
                                                           th:text="${plan.startDate} + ' - ' + ${plan.endDate}"></p>
                                                    </div>
                                                    <a href="#" class="more-link"
                                                       th:href="@{/viewDetailPlan(planId=${plan.id})}">자세히</a>
                                                </div>

                                            </div>
                                            <hr class="content-underline">
                                        </div>
                                    </div>
                                </section>

                                <section id="mySubscription" class="col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title">구독권</h5>
                                                <a th:if="${member.subscribe_status == 'OFF'}" href="/subscribe"
                                                   class="more-link">더보기</a>
                                            </div>
                                            <hr class="title-underline">
                                            <div class="plan-summary">
                                                <div class="plan-item d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span th:if="${subscribe != null}">
                                                        <h6 class="plan-destination">구독 기간</h6>
                                                        <p class="plan-dates"
                                                           th:text="${subscribe.startDate} + ' ~ ' + ${subscribe.endDate}"></p>
                                                        </span>
                                                        <span th:if="${member.subscribe_status == 'OFF'}">구독권 정보가 없습니다.</span>

                                                    </div>
                                                    <a class="more-link" th:if="${member.subscribe_status == 'ON'}"
                                                       href="/myPage/subscribe">자세히</a>
                                                </div>

                                            </div>
                                            <hr class="content-underline">
                                        </div>
                                    </div>
                                </section>


                                <!--                                &lt;!&ndash; 내 구독권 섹션 &ndash;&gt;-->
                                <!--                                <section id="mySubscription" class="col-md-6">-->
                                <!--                                    <div class="card custom-card">-->
                                <!--                                        <div class="card-body">-->
                                <!--                                            <div class="d-flex justify-content-between align-items-center">-->
                                <!--                                                <h5 class="card-title">구독권</h5>-->
                                <!--                                                <a th:if="${member.subscribe_status == 'OFF'}" href="/subscribe"-->
                                <!--                                                   class="more-link">더보기</a>-->
                                <!--                                            </div>-->
                                <!--                                            <hr class="title-underline">-->
                                <!--                                            <p class="card-text">&lt;!&ndash;구독권 정보를 여기에 표시합니다. &ndash;&gt;-->
                                <!--                                            <div>-->
                                <!--                                                <span th:if="${subscribe != null}">-->
                                <!--                                                    구독 기간 : <p-->
                                <!--                                                        th:text="${subscribe.startDate} + ' ~ ' + ${subscribe.endDate}"></p>-->
                                <!--                                                    <a th:if="${member.subscribe_status == 'ON'}"-->
                                <!--                                                       href="/myPage/subscribe" class="more-link">더보기</a>-->
                                <!--                                                </span>-->
                                <!--                                                <span th:if="${member.subscribe_status == 'OFF'}">구독권 정보가 없습니다.</span>-->
                                <!--                                            </div>-->
                                <!--                                            </p>-->
                                <!--                                            <hr class="content-underline">-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </section>-->

                                <!-- 알람 섹션 -->
                                <section id="myAlert" class="col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title">알림</h5>
                                                <a href="/myAlerts" class="more-link">더보기</a>
                                            </div>
                                            <hr class="title-underline">
                                            <div class="alert-summary">
                                                <!-- 알림이 없을 때 메시지 표시 -->
                                                <!-- 이 부분은 AJAX로 데이터를 가져온 후에 동적으로 업데이트됩니다. -->
                                            </div>

                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- 여기가 custom 마지막 -->

        </div>
    </div>
</div>


<!--  Footer -->
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>
