@charset "UTF-8";

.headLogo {
    display: flex;
}

.w-20 {
    width: 20%
}

.container {
    height: 100%;
    border: solid 0.5px rgb(213 215 219);
    border-radius: .375rem;
    margin: 8% 25% 0% 25%;

}

.contents {
    padding: 1.5rem;
    border-radius: .375rem;
    margin: 0px;
}

.findPassword {
    font-weight : 700;
    font-size: 1.875 rem;
    font-family: Montserrat, Noto Sans KR, sans-serif;
    margin: 0px;
}